@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 48px;

  @media (max-width: 768px) {
    display: block;
  }
}

.left {
  min-width: 10%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.slot {
  display: inline-flex;
  width: 25%;

  @media (max-width: 768px) {
    width: 100%;
    display: block;
  }
}

.content {
  width: 100%;
  min-width: 10%;
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  padding: 16px;

  animation: fadeIn 400ms ease;
}

.item {
  background: var(--color-dark-black);
  margin: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 200ms ease all;
  height: 400px;

  &:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 768px) {
    height: auto;
    padding: 12px;
  }
}

.number {
  padding: 16px;
  min-height: 10%;
  height: 100%;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-family: "Mono";
  text-transform: uppercase;
  width: 100%;
  flex-shrink: 0;
  text-align: left;
  padding: 16px;
  display: block;
  font-size: var(--typescale-2);
  padding-right: 48px;
  z-index: 10;

  @media (max-width: 768px) {
    text-align: center;
    padding-right: 0px;
    padding: 0px 0px 16px 0px;
  }
}

.h2 {
  font-family: "Heading";
  font-size: var(--typescale-2);
  font-weight: 400;
  line-height: 1.5;
}

.h3 {
  font-family: "Heading";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
}

.p {
  margin-bottom: 24px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  line-height: 1.5;
}
